<%- include header.ejs %>

  <h1>Login</h1>
  <form method="POST" action="/auth/login">
    <pre class="form-errors"> <%=warning %> </pre>
    <div>
      <span>Username:</span>
      <input type='text' name="username" placeholder="username"/>
    </div>
    <div>
      <span>Password:</span>
      <input type="password"name="password" placeholder="password"/>
    </div>
    <br>
    <div>
      <input type='submit' value="Login"/>
    </div>
  </form>
  <br>
  <br>
  <a href="/auth/signup">Signup</a>

<%- include footer.ejs %>
