<%- include header.ejs %>
  <h1>Signup</h1>

  <form method="post" action="/auth/signup">
  <div>
    <span>Username:</span>
    <input type="text" name="username" />
  </div>
  <div>
    <span>Password:</span>
    <input type="password" name="password" />
  </div>
  <br>
  <input type="submit" value="Signup">
</form>
<br>
<br>
<a href="/auth/login">Login</a>

<%- include footer.ejs %>
