<%- include header.ejs %>
  <h1>Signup</h1>

  <form method="post" action="/auth/signup">
    <pre class="form-errors"> <%=warning %> </pre>
  <div>
    <span>Username:</span>
    <input type="text" name="username" placeholder="username"/>
  </div>
  <div>
    <span>Password:</span>
    <input type="password" name="password" placeholder="password"/>
  </div>
  <br>
  <input type="submit" value="Signup">
</form>
<br>
<br>
<a href="/auth/login">Login</a>

<%- include footer.ejs %>
